h1 {
    width: 100%;
    margin: 0 auto;
    font-size: 50px;
    font-weight: 900;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.box_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box_wrap div {
    width: 25%;
    padding: 15px;
    background-color: blueviolet;
    margin: 20px;
}
.boxs1{
    background-color: aquamarine;
}
